/* Styles */

* {
    font-family: 'Courier New', Courier, monospace;
    color: #b8b8b8;
}

h1 {
    font-weight: bold;
    text-indent: 5px;
}

h3 {
    text-indent: 10px;
    margin-bottom: 5px;
}

p {
    text-indent: 15px;
    margin: 0;
}

html, body {
    background-color: #242424;
    height: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin: 0;
    min-height: 100%;
}

a:link, a:visited {
    text-decoration: none;
    background-color: #301111;
    color: #b8b8b8;
    text-align: center;
    display: inline-block;
    padding: 14px 25px;
}

a:hover, a:active {
    background-color: #5e2b2b;
}

.no-bullet {
    list-style-type: none;
}