/* Styles */

* {
    font-family: 'Courier New', Courier, monospace;
    color: #b8b8b8;
}

html, body {
    background-color: #242424;
    height: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin: 0;
    padding: 5px;
    min-height: 100%;
}

h1 {
    font-weight: bold;
    padding-left: 5px;
}

h3 {
    padding: 10px;
    margin-bottom: 5px;
}

p {
    padding: 15px 5px;
    margin: 0;
}

li {
    margin: 5px;
}

.nav-bar a:link, a:visited {
    background-color: #301111;
}

.nav-bar a:hover, a:active {
    background-color: #5e2b2b;
}

.nav-bar a {
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #b8b8b8;
    padding: 14px 25px;
    text-decoration: none;
}

.center {
    display: block;
    margin: auto;
}