/* Styles */

* {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(184, 184, 184);
}

h1 {
    font-weight: bold;
    text-indent: 5px;
}

h3 {
    text-indent: 10px;
    margin-bottom: 5px;
}

p {
    text-indent: 15px;
    margin: 0;
}

html, body {
    background-color: #242424;
    height: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin: 0;
    min-height: 100%;
}

